.relactive{
    position: relative;
}
.absolute{
    position: absolute;
}
.flexd{
    position: fixed;
}
.flex{
    display: flex;
}
.none{
    display: none;
}
.transition{
    transition: 0.5s;
}
a{
    text-decoration: none;
    color: black;
}
.top{
    width: 100%;
    height: 100vh;
    background:url("../images/self/sea.JPG") center  80%  no-repeat;
    background-attachment:fixed;
    justify-content: center;
    align-items: center;
    /* opacity: 0.8; */
}
.top_title{
color: aliceblue;
text-align: center;
font-family: 'Permanent Marker', cursive;


}
.top_title h3{
    font-size: 40px;
    margin: 0
}
.top_title h2{
    font-size: 110px;
    font-weight: bolder;
    margin: 20px;
}
.top_title p{
    font-size: 30px;
}
.container{
    width: 70vw;
    margin: 0 auto;
    font-family: 'Noto Sans TC', sans-serif;
}
.about_title, .skill_title, .works_title, .contact_title{
    justify-content: center;
    align-items: center;
    padding: 51px 0  39px 0; 
}
.line{
    width: 20%;
    background-color: black;
    height:1px;
}
.about_title p, .skill_title p, .works_title p, .contact_title p{
    margin: 20px 40px;
    font-size: 35px;
}
.contact_big{
    height: 100vh;
}
.about{
    justify-content: space-around;
    align-items:center;
    /* padding: 10px 10px; */
    margin-top: 8%;
}
.about_img{
    width: 33%;
}
.about_img img{
    width: 100%;
    object-fit: cover;
}
.aboot_text{
    width: 29%;
}
.aboot_text p{
    font-size: 20px;
    line-height: 50px;
    letter-spacing: 2px;
}
.aboot_text span{
    font-size: 28px;
    font-weight: bold;
}
nav{
    width: 16%;
    padding: 50px 0px;
    text-align: right;
    z-index: 99;
    right: 4%;
}
nav ul{
    list-style-type: none;
    flex-direction: column-reverse;
}
nav li, .fa-times{
    margin-bottom: 65px;
    font-size: 28px;
    font-weight: bold;
}
.back{
    width: 100%;
    height: 100%;
    background-color: rgba(164, 164, 164, 0.776);
    z-index: 10;
}
.ch{
    transition: .5s;
    cursor: pointer;
    font-family: 'Noto Sans TC', sans-serif;
}
.fa-bars{
    font-size: 30px;
    cursor: pointer;
    transition: .5s;
    color: #ccc;
}
.arrow{
    bottom: 2%;
    right: 3%;
    font-size: 40px;
    cursor: pointer;
    z-index:99 ;
}
.work{
    flex-wrap: wrap;
    justify-content: space-around;
}
.coffee{
    width: 40%;
    margin: 20px;
    text-align: center;
}
.coffee img{ 
    width: 100%;
    object-fit: cover;
    transition: 0.5s;
    margin-bottom: 21px;
}
.work_say{
    color: rgb(0, 0, 0);
    top: 25%;
    left: 25%;
    font-size: 20px;
}
.coffee:hover  img{
    opacity: 0.3;
}
.pos{
    left: 15%;
}
.pos01{
    left: 35%;
}
.contant_img{
    width: 30%;
    margin: 0 auto;
}
.contant_img img{
    width: 100%;
    object-fit: cover;
}
.contant ul{
    list-style-type: none;
    padding: 0;
}
.contant li{
    font-size: 22px;
    line-height: 50px;

}
.contant{
    text-align: center;
}
.skill{
    width: 100%;
    height: 80vh;
}
.skill_img{
    width:30%;
}
.skill_img img{
    width:100%;
    object-fit: cover;
}
.skill_01{
    left: calc(50% - 220px);
    top: 18%;
}
.skill_01 h2{
    left: 18%;
    top: 22%;
}
.skill_02{
    left: calc(64% - 220px);
    top: 26%;
}
.skill_02 h2{
    left: 43%;
    top: 30%;
}
.skill_03{
    left: calc(51% - 224px);
    top: 33%;
}
.skill_03 h2{ 
    left: 29%;
    top: 36%;
}
.Skill_01_in ul, .Skill_02_in ul, .Skill_03_in ul{
    list-style-type: none;
}
.Skill_01_in{
    font-size: 22px;
    top: -46%;
    left: -46%;
    line-height: 38px;
}
.Skill_02_in{
    font-size: 22px;
    top: -5%;
    left: 84%;
    line-height: 38px;
}
.Skill_03_in{
    font-size: 22px;
    top: 73%;
    left: 20%;
    line-height: 38px;
}
.skill_01:hover{
    transform: scale(1.1,1.1);
}
.opacity{
    opacity: 0.5;
}
@media screen and (max-width:500px) {
    .top_title {
    top: 18%;
    left: 0%;
    }
    .top_title h3 {
        font-size: 35px;
    }
    .top_title h2 {
        font-size: 96px;
    }
    .top_title p {
        font-size: 21px;
    }
    nav{
        right: 88%;
        top:-3%;
    }
    .about_title p, .skill_title p, .works_title p, .contact_title p {
        margin: 20px 18px;
        font-size: 18px;
    }
    .about{
        flex-direction: column;
    }
    .about_img {
        width: 80%;
        margin-bottom: 20px;
    }
    .aboot_text {
        width: 100%;
    }
    .aboot_text p{
        font-size: 16px;
        line-height: 34px;
    }
    .skill_img {
        width: 50%;
    }
    .skill_02 {
        left: calc(105% - 174px);
        top: 32%;
    }
    .skill_02 h2 {
        font-size: 16px;
        left: 35%;
        top: 30%;
    }
    .Skill_02_in {
        font-size: 16px;
        top: -13%;
        left: 62%;
        line-height: 26px;
    }
    .skill_01 {
        left: calc(82% - 177px);
        top: 28%;
    }
    .skill_01 h2 {
        font-size: 16px;
        left: -11%;
        top: 17%;
    }
    .Skill_01_in {
        font-size: 16px;
        top: -114%;
        left: -66%;
        line-height: 22px;
    }
    .skill_03 {
        left: calc(101% - 224px);
        top: 38%;
    }
    .skill_03 h2 {
        left: 0%;
        top: 43%;
        font-size: 15px;
    }
    .Skill_03_in {
        font-size: 16px;
        top: 62%;
        left: -17%;
        line-height: 22px;
    }
    .skill {
        height: 76vh;
    }
    .coffee{
        width: 100%;
    }
    .contant_img {
        width: 80%;
        margin: 0 auto;
    }
    .contant li {
        font-size: 17px;
        line-height: 40px;
    }
    .coffee:hover .p{
        display: none;
    }
    .arrow{
        font-size: 35px;
    }
    .top{
        background-attachment:scroll;
    }
}